<!DOCTYPE html>
<html>
  <head>
    <title>Exercise</title>
    
    <link rel="stylesheet" href="style/jquery.mobile-1.0.css" />

    <script src="js/lib/jquery-1.6.4.min.js"></script>
    <script src="js/lib/jquery.mobile-1.0.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    
    <!-- App specific scripts -->
    <script src="js/models/twittermodel.js"></script>
    <script src="js/views/twitterlist.js"></script>    
    <script src="js/twitters_app.js"></script>
        
    <!-- templates -->
    <script type="text/template" id="twitter-list-item-template">
      <li ><a href="#twitter-details" identifier="<%= id %>">
		<img src="<%= profile_image_url %>" />
		<h5><%= from_user_name %></h5> 
		<p><%= created_at.substr(5, 11) %></p>
		</a></li>
    </script>
    
    <!-- maximum scale added to stop zoom on select controls -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  </head>
  <body>

    <div data-role="page" id="twitters">
      <div data-role="header">
        <h1>Twitters</h1>
        <a href="#" data-role="button" data-icon="back" id="back-button">back</a>
        <a href="#" data-role="button" data-icon="refresh" id="refresh-button">refresh</a>
      </div>
      <div data-role="content">
          <!-- the contents of the list view will be rendered via the backbone view -->
      </div>
    </div>
    
  </body>
</html>